HF_TOKEN=hf_your_huggingface_token_here
CAL_API_KEY=your_cal_com_api_key_here
CAL_EVENT_TYPE_ID=your_event_type_id


QDRANT_URL=https://your-cluster.qdrant.io
QDRANT_API_KEY=your_qdrant_api_key


QDRANT_HOST=localhost
QDRANT_PORT=6333
PERSONA_NAME=Your Name
